<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Escolha o seu jogo</title>
    </head>
    <body>
        <a href="#">VER SEUS JOGOS E GAMES</a>


        <h1>Aqui você vai criar ou administrar seus jogos da sorte ou jogos de sorteios, se preferir.</h1>


    

        <br>
        <a href="#" th:href="@{/paleta/}">Ver todos os jogos disponíveis.</a>

        <h3>Jogos mais usados</h3>
        
        <a href="#" th:href="@{/new-lucky-game}">Lucky Game - Aberto</a>
        <p>Neste jogo, você cria uma sala onde os participantes podem se inscreverem e receberem um número da sorte para concorrer o seu prêmio</p>
        <p>ATENÇÃO: Neste jogo, quem tem o link de inscrição, pode entrar. Se não for o caso, procure os jogos semifechados</p>

        <br>
        <a href="#" th:href="@{/}">Home</a>
    </body>
</html>