<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDICAÇÃO DE JOGO</title>
</head>
<body>

<h1>Edição de Jogo</h1>

<form th:action="@{/changinggame}" th:object="${luckyGame}" th:method="post">
    <input type="hidden" name="id" th:field="*{id}"/>

    <input type="text" name="title"     th:field="*{title}"     th:placeholder="Título"/><br/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
    <br/>

    <input type="number" name="numWinners" th:field="*{numWinners}" th:placeholder="Número-de-Ganhadores"/> <br/>
    <span th:if="${#fields.hasErrors('numWinners')}" th:errors="*{numWinners}">numWinner Error</span>
    <br/>

    <input type="text" name="emailOwner" th:field="*{emailOwner}" th:placeholder="E-mail"/> <br/>
    <span th:if="${#fields.hasErrors('emailOwner')}" th:errors="*{emailOwner}">Email Error</span>
    <br/>

    <input type="text" name="communicateAll" th:field="*{communicateAll}" th:placeholder="Comunicado"/> <br/>
    <span th:if="${#fields.hasErrors('communicateAll')}" th:errors="*{communicateAll}">Password Error</span>
    <br/>

    <button type="submit">Salvar edição </button>
</form>

<br>

<a th:href="@{/games}">Visualizar todos jogos - Apenas de teste</a>
<a href="#" th:href="@{/new-lucky-game}">Novo Jogo</a>

</body>
</html>